{% extends 'base.html' %}

{% block content %}

<div class="container well-lg">
<table class="table table-striped table-hover table-responsive">
	<thead>
		<tr>
			<th>Course PK</th>
			<th>Course Name</th>
			<th>Name</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
	{% for student in course_students %}
		<tr>
			<td>{{ student.course_name_id }}</td>
			<td>{{ student.course_name }}</td>
			<td>{{ student.full_name }}</td>
			<td>{{ student.email }}</td>
		</tr>
	{% endfor %}
	</tbody>
 </table>
	<a href="{# url 'add-course' #}"><button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add Course</button></a>
</div>
{% endblock %}
