{% extends 'base.html' %}

{% block content %}

<div class="container well-lg">
<table class="table table-striped table-hover table-responsive">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Current Progress</th>
			<th>History</th>
		</tr>
	</thead>
	<tbody>
	{% for student in course_students %}
		<tr>
			<td>{{ student }}</td>
			<td>{{ student.user.email }}</td>
			<td>
				<a href="{# url 'student-current-progress' #}">Progress.status</a>
			</td>
			<td>
				<a href="{# url 'student-progress-history' #}"<input type="button" class="btn btn-default">...</a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
 </table>
	<a href="{# url 'add-student' #}"><button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add Student</button></a>
</div>
{% endblock %}
