{% extends 'base.html' %}

{% block content %}

<div class="container well-lg">
	<h4>{{ view.current_course.teacher_name }}</h4>
	<h2>{{ view.current_course.course_name }}</h2>
	<h4>{{ view.current_course.start_time|time:"g:i a" }}</h4>
<table class="table table-striped table-hover table-responsive">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Current Progress</th>
			<th>History</th>
		</tr>
	</thead>
	<tbody>
	{% if view.course_students_current_progress %}
		{% for student, progress in view.course_students_current_progress %}
			<tr>
				<td>{{ student }}</td>
				<td>{{ student.user.email }}</td>
				<td>
					<a href="{# url 'student-current-progress' #}">{{ progress.status }}</a>
				</td>
				<td>
					<a href="{# url 'student-progress-history' pk=view.current_course.pk student=student.user.username school_slug=request.user.profile.school.slug login_type=request.user.profile.get_role username=request.user.username #}"<input type="button" class="btn btn-default">...</a>
				</td>
			</tr>
		{% endfor %}
	{% else %}
		<tr>
			<td>--</td>
			<td>--</td>
			<td>--</td>
			<td>--</td>
		</tr>
	{% endif %}
	</tbody>
 </table>
	<a href="{# url 'add-student' #}"><button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add Student</button></a>
	<p>{{ view.current_course }}</p>
	<p>{{ view.current_course_pk }}</p>
	<p>{{ view.course_students_current_progress }}</p>
	<p>{{ view.course_students_all_progress }}</p>
</div>
{% endblock %}
