{% extends 'base.html' %}

{% block content %}

<div class="container well-lg">
  <h3>{{ view.current_student }}</h3>
  <h4>{{ view.current_course.course_name }}</h4>
	<h4>{{ view.current_course.start_time|time:"g:i a" }}</h4>
<table class="table table-striped table-hover table-responsive">
	<thead>
		<tr>
			<th>Class Date</th>
      <th>Submitted</th>
			<th>Status</th>
			<th>Behavior</th>
      <th>On Time</th>
      <th>Electronics</th>
      <th>Personal Goals</th>
      <th>Leaving Class</th>
			<th>Comments</th>
      <th>Detail</th>
		</tr>
	</thead>
	<tbody>
    {% for item in view.recent_progress_history %}
		<tr>
      <td>{{ item.class_date|date:"n-j-Y" }}</td>
      <td>{{ item.submitted|date:"n-j" }} {{ item.submitted|time:"g:i a" }}</td>
			<td>{{ item.status }}</td>
			<td>{{ item.behavior }}</td>
      <td>{{ item.on_time }}</td>
      <td>{{ item.electronics }}</td>
      <td>{{ item.personal_goals }}</td>
      <td>{{ item.leaving_class }}</td>
			<td>{{ item.teacher_comments }}</td>
      <td>
        <a href="{# url 'student-progress-history' pk=view.current_course.pk student=student.user.username school_slug=request.user.profile.school.slug login_type=request.user.profile.get_role username=request.user.username #}">
          <button class="btn btn-default">...</button>
        </a>
      </td>
		</tr>
    {% endfor %}
	</tbody>
 </table>
  <!-- List Students -->
  <a href="{% url 'course-students' pk=view.current_course.pk username=request.user.username login_type=request.user.profile.get_role school_slug=request.user.profile.school.slug %}"><input type="button" class="btn btn-primary" value="Back to Student List"></a>
  <!-- <p>All Progress History: {{ view.all_progress_history }}</p>
  <p>Count of All Progress History: {{ view.all_progress_history_length }}</p>
  <p>Recent Progress History: {{ view.recent_progress_history }}</p>
  <p>Current Progress: {{ view.current_progress }}</p> -->
</div>
{% endblock %}
